[submodule "libraries/flatbuffers/src"]
	path = libraries/flatbuffers/src
	url = https://github.com/google/flatbuffers
[submodule "vendor/rapidcheck/src"]
	path = vendor/rapidcheck/src
	url = https://github.com/emil-e/rapidcheck
[submodule "vendor/reproc/src"]
	path = vendor/reproc/src
	url = https://github.com/DaanDeMeyer/reproc.git
[submodule "vendor/concurrentqueue/src"]
	path = vendor/concurrentqueue/src
	url = https://github.com/cameron314/concurrentqueue.git

